body {
	padding: 0;
	margin: 0;
	font-family: "Arial";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	overflow: hidden;
}

header {
	padding-bottom: 8px;
	box-shadow: 0px 1px 15px #fff;
}

header > nav {
	height: 15px;
	padding-top: 5px;
	font-size: 12px;
	cursor: default;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88bfe8), color-stop(100%,#70b0e0));
	box-shadow: 0px 1px 5px #000;
}

header > nav > div {
	display: inline-block;
	padding: 0 5px;
	z-index: 9;
	cursor: default;
	color: #fff;
}

header > nav > div:hover {
	color: #000;
}

header > nav > div.selected {
	padding: 0 4px;
	color: #000;
	background-color: #fff;
	border-top: 1px solid #aaa;
	border-left: 1px solid #515151;
	border-right: 1px solid #515151;
	border-bottom: 6px solid #fff;
	border-radius: 3px 3px;

}

header > nav > div.selected:hover {
	background-color: #fff;
}

section {
	height: 290px;
	overflow-x: hidden;
	overflow-y: auto;
}

#appView {
	width: 100%;
	padding-top: 5px;
}

#appView div {
	display: inline-block;
	width: 50px;
	max-height: 95px;
	vertical-align: top;
	text-align: center;
	padding: 0 3px;
	margin-bottom: 10px;
	overflow: hidden;
}

#appView div:hover > img{
	border: 1px solid #999;
	border-radius: 3px;
	padding: 0px;
}

#appView img {
	width: 48px;
	height: 48px;
	padding: 1px;
}

#appView span {
	display: inline-block;
	vertical-align: top;
	width: 48px;
	max-height: 24px;
	padding: 0 1px;
	font-size: 10px;
	overflow: hidden;
	cursor: default;
	/*color: #fff;
	background-color: #333;
	border-radius: 3px;*/
}

#appView .disabled img {
	-webkit-filter: grayscale(1.0);
}

#topsiteView {
	display: none;
	width: 100%;
	padding-top: 15px;
}

#topsiteView a {
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 10px;
	color: #000;
	text-decoration: none;
}

#topsiteView a:hover {
	color: #999;
}

#topsiteView p {
	margin-left: 10px;
	font-size: 12px;
}

#topsiteView span {
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
	font-size: 12px;
	height: 16px;
	max-width: 194px;
	overflow: hidden;
}

#bookmarkView {
	display: none;
	width: 100%;
	padding-top: 5px;
}

#bookmarkView ul, li {
	font-size: 12px;
	padding: 0;
}

#bookmarkView > ul {
	margin-left: 10px;
	margin-bottom: 10px;
}

li > ul {
	display: none;
}

.folder {
	padding: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: default;
}

.folder > img {
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
	height: 20px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-radius: 3px 0 0 3px;
}

.folder > span {
	display: inline-block;
	vertical-align: top;
	padding-right: 5px;
	height: 20px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-radius: 0 3px 3px 0;
}

.folder:hover > span, .folder:hover > img {
	background-color: #ccc;
}

.item {
	padding: 0;
	margin-top: 3px;
	margin-bottom: 3px;
}

.item > img {
	padding-left: 5px;
	padding-right: 6px;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-radius: 3px 0 0 3px;
}

.item > a {
	display: inline-block;
	vertical-align: top;
	height: 16px;
	max-width: 170px;
	overflow: hidden;
	color: #000;
	text-decoration: none;
	padding-right: 5px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-radius: 0 3px 3px 0;
}

.item:hover > img {
	background-color: #eee;
}

.item:hover > a {
	background-color: #eee;
	text-decoration: underline;
}

::-webkit-scrollbar {
	width: 3px;
/*	background-color: #fff;*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
}
::-webkit-scrollbar-thumb {
	background-color: #999;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #666;
}